$white: #ffffff !default;
$black: #000000 !default;
$mirage: #1a202c !default;
$ebony: #0a0c19 !default;
$mineShaft: #30ccc8 !default;
$tundora: #464646 !default;
$licorice: #2d3748 !default;
$lightgrey: #d9d9d9 !default;
$lightgreyHover: #dadada !default;
$powderblue: #b0e0e6 !default;
$lightskyblue: #30ccc855  !default;
$royalblue: #30ccc8 !default;
$steelblue: #4682b4 !default;
$pictionBlue:#30ccc8 !default;
$astronaut: #28456c !default;
$keppel: #38b2ac !default;
$gainsboro: #bfbfbf !default;
$lightred: #ff8498 !default;
$charade: #292d36 !default;
$silver_chalice: #aaaaaa !default;
$silver: #cccccc !default;
$gallery: #efefef !default;
$alto: #dbdbdb !default;
$trout: #495057 !default;
$porcelain: #f0f1f2 !default;
$boulder: #7d7d7d !default;
