<template>
  <div>
    <div
      class="vfc-multiple-input"
      :class="{ 'vfc-dark': fConfigs.isDark }"
      v-if="fConfigs.isModal && fConfigs.isDateRange"
    >
      <slot
        name="dateRangeInputs"
        :startDate="dateRangeSelectedStartDate"
        :endDate="dateRangeSelectedEndDate"
        :isTypeable="fConfigs.isTypeable"
      >
        <div class="date-range-inputs__wrapper vfc-cursor-pointer">
          <div class="d-inline-block">
            <div
              v-show="!dateRangeSelectedStartDate || fConfigs.alwaysShowLabels"
              style="font-size: 0.8em"
            >
              {{ fConfigs.placeholder.split(' ')[0] }}
            </div>
            <div
              v-show="dateRangeSelectedStartDate || fConfigs.alwaysShowLabels"
            >
              <input
                type="text"
                title="Start Date"
                style="
                  color: #646464;
                  max-width: 90px;
                  text-align: left;
                  height: 20px !important;
                "
                :class="{'vfc-cursor-pointer': !fConfigs.isTypeable}"
                v-model="dateRangeSelectedStartDate"
                :placeholder="fConfigs.placeholder.split(' ')[0]"
                :readonly="!fConfigs.isTypeable"
                :maxlength="fConfigs.dateFormat.length"
              />
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="lableMoon">
              <span style="margin-right: 5px"
                ><svg
                  width="13"
                  height="13"
                  viewBox="0 0 13 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_566_7929)">
                    <path
                      d="M6.80066 12.426C3.88856 12.3668 1.39696 10.1445 1.05342 7.27706C0.703219 4.35659 2.4665 1.70031 5.30134 0.873917C5.50509 0.814272 5.69385 0.806651 5.82908 0.999171C5.96668 1.19493 5.88378 1.36505 5.75514 1.53308C3.77681 4.10276 5.1644 7.84036 8.3433 8.47721C9.59708 8.72822 10.7544 8.46198 11.791 7.70231C11.8638 7.64849 11.9322 7.56171 12.0118 7.54971C12.1573 7.52718 12.3285 7.50653 12.4548 7.56247C12.6122 7.63239 12.6312 7.80761 12.582 7.97809C11.897 10.3287 10.3546 11.7687 7.96778 12.2955C7.58795 12.379 7.19048 12.3844 6.80066 12.426Z"
                      fill="white"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_566_7929">
                      <rect
                        width="11.6101"
                        height="11.5748"
                        fill="white"
                        transform="translate(1.07129 0.789062) rotate(0.611173)"
                      />
                    </clipPath>
                  </defs></svg
              ></span>
              {{ diff }}
            </div>
          </div>
          <div class="d-inline-block">
            <div
              v-show="!dateRangeSelectedEndDate || fConfigs.alwaysShowLabels"
              style="font-size: 0.8em"
            >
              {{ fConfigs.placeholder.split(' ')[1] }}
            </div>
            <div v-show="dateRangeSelectedEndDate || fConfigs.alwaysShowLabels">
              <input
                style="
                  text-align: left;
                  color: #646464;
                  max-width: 90px;
                  height: 20px !important;
                "
                type="text"
                title="End date"
                :class="{'vfc-cursor-pointer': !fConfigs.isTypeable}"
                v-model="dateRangeSelectedEndDate"
                :placeholder="fConfigs.placeholder.split(' ')[1]"
                :readonly="!fConfigs.isTypeable"
                :maxlength="fConfigs.dateFormat.length"
              />
            </div>
          </div>
        </div>
      </slot>
    </div>
    <div
      :class="{ 'vfc-dark': fConfigs.isDark }"
      v-else-if="fConfigs.isModal && fConfigs.isDatePicker"
    >
      <slot
        name="datePickerInput"
        :selectedDate="singleSelectedDate"
        :isTypeable="fConfigs.isTypeable"
      >
        <input
          class="vfc-single-input"
          type="text"
          title="Date"
          v-model="singleSelectedDate"
          :placeholder="fConfigs.placeholder"
          :readonly="!fConfigs.isTypeable"
          :maxlength="fConfigs.dateFormat.length"
        />
      </slot>
    </div>
    <div
      v-else-if="fConfigs.isModal && fConfigs.isMultipleDatePicker"
      class="vfc-tags-input-root"
      :class="{ 'vfc-dark': fConfigs.isDark }"
    >
      <div class="vfc-tags-input-wrapper-default vfc-tags-input">
        <span
          class="
            vfc-tags-input-badge
            vfc-tags-input-badge-pill
            vfc-tags-input-badge-selected-default
          "
          v-for="(date, index) in calendar.selectedDates"
          :key="index"
        >
          <span v-html="date.date"></span>
          <a
            href="#"
            class="vfc-tags-input-remove"
            @click.prevent="removeFromSelectedDates(index)"
          ></a>
        </span>

        <input
          v-model="calendar.selectedDatesItem"
          @keydown.enter.prevent="$parent.addToSelectedDates"
          type="text"
          placeholder="Add a date"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PickerInputs',
  props: {
    fConfigs: {
      type: Object,
      required: true,
    },
    singleSelectedDate: {
      type: String,
      required: true,
    },
    calendar: {
      type: Object,
      required: true,
    },
  },
  computed: {
    diff: {
      get() {
        if (this.calendar.dateRange.start && this.calendar.dateRange.end) {
          let oneDay = 24 * 60 * 60 * 1000
          let firstDate = new Date(this.calendar.dateRange.start)
          let secondDate = new Date(this.calendar.dateRange.end)
          return Math.round(
            Math.abs((firstDate.getTime() - secondDate.getTime()) / oneDay)
          )
        }
        return 0
      },
    },
    dateRangeSelectedStartDate: {
      get() {
        return this.calendar.dateRange.start
          ? new Date(this.calendar.dateRange.start).toLocaleDateString()
          : ''
      },
      set(newValue) {
        newValue = this.helpCalendar.mask(newValue)
        if (this.helpCalendar.getDateFromFormat(newValue).getMonth()) {
          this.calendar.dateRange.start = newValue
        }
      },
    },
    dateRangeSelectedEndDate: {
      get() {
        return this.calendar.dateRange.end
          ? new Date(this.calendar.dateRange.end).toLocaleDateString()
          : ''
      },
      set(newValue) {
        newValue = this.helpCalendar.mask(newValue)
        if (this.helpCalendar.getDateFromFormat(newValue).getMonth()) {
          this.calendar.dateRange.end = newValue
        }
      },
    },
  },
}
</script>

<style scoped>
.lableMoon {
  border-radius: 30px;
  background-color: #30ccc8;
  display: inline-block;
  padding: 3px 8px;
  margin-left: 7px;
  margin-right: 7px;
  color: white;
  font-size: 12px;
  font-weight: bolder;
  white-space: nowrap;
}

.date-range-inputs__wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.vfc-cursor-pointer {
    cursor: pointer;
}
</style>
